.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 5vh;
  padding-top: 1vh;
}

.App-link {
  color: #61dafb;
}

.title {
  padding-top: 3vh;
  border-bottom: 1px solid gray;
}

.body {
  padding-top: 3vh;
}

.message {
    margin-bottom: 5vh;
    text-align: left;
}

.btn-remove {
    padding: 0 !important;
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.navigation a {
    display: block;
    padding: .5rem 1rem;
    color: hsla(0,0%,100%,.5);
    text-decoration: none;
    background-color: transparent;
}

.navigation a:hover {
    color: hsla(0,0%,100%,.75);
    text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
