# Server
APP_PATH=app/
COOKIE_SECRET=t6yyRj3_h7gSgSl9VNHyG3B81TGY30ae3Eop3Z0PCMU=

# PostgreSQL
POSTGRES_DB=database_name
POSTGRES_USER=user_name
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
